@charset "UTF-8";

/* -- Base drop-down styling -- */

ul.dropdown {
 	 font: 14px/normal sans-serif;
	 text-transform: uppercase;
 	 letter-spacing:-0.2px;
	 width:100%;
	 margin:0 auto;
}

	ul.dropdown li {
	
	 padding: 0 10px;
	 color: #fff;
	}

	ul.dropdown li.hover,
	ul.dropdown li:hover {
	 color: #000;
	 outline: 0;
	
	}

	ul.dropdown a:link,
	ul.dropdown a:visited	{ color: #e7e7e7; text-decoration: none; font-weight:600; outline: 0;}
	ul.dropdown a:hover		{ color: #fff; outline: 0; }
	ul.dropdown a:active	{ color: #1ea7ef; outline: 0; }

	/* -- level mark -- */

	ul.dropdown ul {
		font-size: 12px;
		margin-left: 333px;
		width:70%;
	 
	}

		ul.dropdown ul li {
		font-weight: bold;
		
		}

		ul.dropdown li.last ul li {
		 float: right;
		}

		/* -- level mark -- */

		ul.dropdown ul ul {
		 margin-top: 20px;
		 text-transform: none;
		}

			ul.dropdown ul ul li {
			 font-weight: normal;
			}


/* -- Supporting class `dir` -- */

ul.dropdown *.dir {
 padding-right: 30px;
 background-position: 100% 50%;
 background-repeat: no-repeat;
}

ul.dropdown ul *.dir {
 background-image: none;
}