/*>> 1-1. Reset
-------------------------------------------------- */
html {
	font-family: sans-serif;
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}

body {
	margin: 0;
	padding: 0;
}

a {
	background-color: transparent;
}

a:focus {
	outline: thin dotted;
}

a:active,
a:hover {
	outline-width: 0;
}

html,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
code,
del,
em,
img,
strong,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
	margin: 0;
	padding: 0;
	vertical-align: baseline;
}

pre {
	font-family: monospace, monospace;
	font-size: 1em;
}

code,
kbd,
samp {
	font-family: monospace, monospace;
	font-size: 1em;
}

article,
aside,
footer,
header,
small,
nav,
section,
figure,
figcaption,
main {
	margin: 0;
	padding: 0;
	display: block;
	list-style: none;
	background-color: transparent;
	outline: none;
}

small {
	font-size: 80%;
}

audio,
canvas,
progress,
video {
	display: inline-block;
}

audio:not([controls]) {
	display: none;
	height: 0;
}

progress {
	vertical-align: baseline;
}

template,
[hidden] {
	display: none;
}

ul,
ol {
	list-style-type: none;
}

table {
	border: none;
	border-collapse: collapse;
	border-spacing: 0;
}

img {
	line-height: 1;
	vertical-align: baseline;
	outline: none;
	border-style: none;
}

a img {
	border: none;
	outline: none;
}

sub,
sup {
	font-size: 75%;
	line-height: 0;
	position: relative;
	vertical-align: baseline;
}

sub {
	bottom: -0.25em;
}

sup {
	top: -0.5em;
}

hr {
	box-sizing: content-box;
	height: 0;
	overflow: visible;
}

abbr[title] {
	border-bottom: none;
	text-decoration: underline;
	text-decoration: underline dotted;
}

dt,
dd,
li,
th,
td,
input,
textarea {
	text-align: left;
	vertical-align: top;
}

button {
	border: none;
}

input,
textarea,
button {
	margin: 0;
	padding: 0;
}

input {
	border: 0.1rem solid #dad7d3;
	height: auto;
	padding: 0.2rem 0.5rem;
}

textarea {
	border: 0.1rem solid #dad7d3;
	height: 7.8rem;
	resize: none;
	overflow: auto;
}

button,
label {
	background-color: transparent;
	cursor: pointer;
}

button,
select {
	text-transform: none;
}

[type="checkbox"],
[type="radio"] {
	box-sizing: border-box;
	padding: 0;
}

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
	height: auto;
}

[type="search"] {
	-webkit-appearance: textfield;
	outline-offset: -0.2rem;
}

[type="search"]::-webkit-search-decoration {
	-webkit-appearance: none;
}

::-webkit-file-upload-button {
	-webkit-appearance: button;
	font: inherit;
}

button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
	-webkit-appearance: button;
	cursor: pointer;
}

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
	border-style: none;
	padding: 0;
}

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
	outline: 0.1rem dotted ButtonText;
}

button[disabled],
input[disabled] {
	cursor: default;
}

input[type="checkbox"],
input[type="radio"] {
	box-sizing: content-box;
	padding: 0;
}

input[type="search"] {
	-webkit-appearance: textfield;
	box-sizing: content-box;
}

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
	-webkit-appearance: none;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
	padding: 0;
	border: 0;
}

textarea {
	overflow: auto;
	vertical-align: top;
}

:focus {
	outline: none;
}

fieldset {
	padding: 0.35em 0.75em 0.625em;
}

legend {
	box-sizing: border-box;
	color: inherit;
	display: table;
	max-width: 100%;
	padding: 0;
	white-space: normal;
}

details {
	display: block;
}

summary {
	display: list-item;
}

audio,
canvas,
iframe,
img,
svg,
video {
	vertical-align: middle;
}

main {
	display: block;
}

h1 {
	margin: 0.67em 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-size: 100%;
	font-weight: bold;
}

table {
	width: 100%;
}

button,
input,
optgroup,
select,
textarea {
	font-family: inherit;
	font-size: 100%;
	line-height: 1.15;
	margin: 0;
}

button,
input {
	overflow: visible;
}

button,
select {
	text-transform: none;
}

b,
strong,
em {
	font-weight: bolder;
}

hr {
	display: block;
	height: 0.1rem;
	border: 0;
	border-top: 0.1rem solid #ccc;
	margin: 1em 0;
	padding: 0;
}


/*>> 1-2. Config
-------------------------------------------------- */
html {
	overflow-x: auto;
	overflow-y: scroll;
	font-size: 10px;
	height: 100%;
}

body {
	font-size: 1.4rem;
	color: #333;
	background-color: #fff;
	line-height: 1.4;
	letter-spacing: 0;
	font-family: "helvetica", "arial", sans-serif;
	font-feature-settings: "palt";
	height: 100%;
	-webkit-overflow-scrolling: touch;
}

a {
	color: #fef2e2;
	text-decoration: none;
}

a:focus {
	outline: none;
}

.no-touchevents a:not(.btn):hover {
	text-decoration: underline;
}

a[href="tel"] {
	color: #a4002c;
}

::-moz-selection {
	background: #b3d4fc;
	text-shadow: none;
}

::selection {
	background: #b3d4fc;
	text-shadow: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	line-height: 1.4;
}

p {
	line-height: 1.7;
}

dt,
dd,
li,
th,
td,
input,
textarea,
button {
	line-height: 1.6;
}

input {
	font-size: 1.6rem;
	box-sizing: border-box;
}

select {
	display: block;
}

textarea {
	width: 100%;
	display: block;
	font-size: 1.6rem;
	box-sizing: border-box;
}



/* -----------------------------------------------
*> [2. Common]
-------------------------------------------------- */
body {
	background: #fef2e2 url(../images/bg-body01.jpg) no-repeat center top;
	background-size: 1920px auto;
}

html {
	min-width: 120rem;
}

@media (min-width: 1921px) {
	body {
		background: #fef2e2 url(../images/bg-body01.jpg) no-repeat center top;
		background-size: 100% auto;
	}
}

.wrp-container {
	max-width: 1156px;
	margin: 0 auto;
}

a {
	transition: opacity .7s ease-out;
}

a:hover {
	opacity: 0.7;
}

.p-content {
	position: relative;
}

.l-container {
	position: relative;
	overflow: hidden;
}

.right {
	text-align: right;
}

.center {
	text-align: center;
}

.flex {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.inline-flex {
	display: inline-flex;
	justify-content: space-between;
	align-items: center;
}

.gap5 {
	gap: 5px;
}

.gap10 {
	gap: 10px;
}

.ml10 {
	margin-left: 10px;
}

.ml20 {
	margin-left: 20px;
}

.mt20 {
	margin-top: 20px;
}

.error {
	color: #f00818;
	font-size: 1.2rem;
}

/* -----------------------------------------------
*> [3. Header Footer]
-------------------------------------------------- */
.l-header {
	position: relative;
	z-index: 1;
}

.l-header h1 {
	text-align: center;
	margin-top: 1.6rem;
}

.l-header nav {
	padding-top: 4rem;
	margin-left: -3rem;
}

.l-header nav ul {
	display: flex;
	gap: 8px;
	justify-content: center;
}

.l-container {
	padding-bottom: 16rem;
	min-height: 100vh;
	box-sizing: border-box;
}

.l-footer {
	background: #171c22;
	color: #fff;
	padding: 2rem;
	font-size: 1.2rem;
	position: absolute;
	width: 100%;
	bottom: 0;
	height: 8rem;
	box-sizing: border-box;
}


/* -----------------------------------------------
*> [4. HOME]
-------------------------------------------------- */
.box-home-main {
	text-align: center;
	position: relative;
	height: 60rem;
}

.box-home-main img {
	position: absolute;
	left: 50%;
	top: 50%;
	margin-left: 4rem;
	margin-top: -10rem;
	transform: translate(-50%, -50%);
	pointer-events: none;
}

.box-home-main::after {
	content: '';
	position: absolute;
	width: 1920px;
	height: 125rem;
	top: -26rem;
	left: 50%;
	pointer-events: none;
	background: url(../images/bg-main.png) no-repeat center top;
	background-size: 100% auto;
	transform: translate(-50%, 0);
}

@media (min-width: 1921px) {
	.box-home-main::after {
		content: '';
		position: absolute;
		width: 100%;
		height: 125rem;
		top: -26rem;
	}
}

.box-home-wrap {
	width: 128.8rem;
	height: 75.6rem;
	background: url(../images/bg-home.png) no-repeat center top;
	background-size: 100% auto;
	margin-left: -6.6rem;
	margin-top: -9rem;
	position: relative;
}

.box-home-wrap__left {
	width: 20.4rem;
	left: 6.6rem;
	top: 0;
	position: absolute;
}

.box-home-wrap__right {
	width: 20.4rem;
	right: 8rem;
	top: 16.5rem;
	position: absolute;
	color: #ddd;
}


.box-home-wrap__center {
	margin: 0 auto;
	width: 68rem;
	position: relative;
	left: -1px;
	padding-top: 13rem;
}

.-btn-down {
	position: relative;
	margin-left: -1rem;
	margin-top: -12rem;
	display: block;
	margin-bottom: -1.4rem;
}

.-btn-down:hover,
.-btn-down:hover img {
	opacity: 1;
}

.-btn {
	margin-bottom: .4rem;
	display: block;
	z-index: 1;
	position: relative;
	background: #fff;
}

.-btn:hover {
	opacity: 1;
}

.-btn img {
	transition: opacity 0.3s ease-out;
}

.-btn:hover img {
	opacity: 0.7;
}

.box-ranking {
	color: #fff;
	margin: 0;
	position: absolute;
	bottom: 5.2rem;
	left: 7.5rem;
	height: 30.4rem;
	width: 18.8rem;
}

.box-ranking .img-light {
	position: absolute;
	left: -8.5rem;
	top: -3rem;
	pointer-events: none;
	transform: rotate(4deg);
	animation: lunglay 3s infinite alternate ease-in-out;
	transform-origin: center top;
}

@keyframes lunglay {
	0% {
		transform: rotate(3deg);
	}

	100% {
		transform: rotate(-3deg);
	}
}

.box-ranking table {
	width: 100%;
}

.box-ranking thead th {
	background: #242831;
	border-bottom: 1px solid #363231;
	color: #626d78;
	font-weight: normal;
	white-space: nowrap;
}

.box-ranking thead th:first-child {
	width: 3em;
	text-align: center;
}

.box-ranking tbody tr:first-child td {
	padding-top: 1rem;
}

.box-ranking td,
.box-ranking th {
	padding: .1rem 0.2rem;
}

.box-ranking td:first-child {
	text-align: center;
}

.box-ranking tbody tr:first-child {
	color: #f00818;
}

.box-ranking tbody tr:nth-child(2) {
	color: #57b711;
}

.box-ranking tbody tr:nth-child(3) {
	color: #d8c525;
}

.box-ranking td:nth-child(2) {
	width: 10em;
	overflow: hidden;
	text-overflow: ellipsis;
	word-break: break-all;
}

.box-ranking td:nth-child(3) {
	text-align: center;
}

.btn-rank-more {
	position: absolute;
	right: -1.5rem;
	bottom: -5.5rem;
}

.btn-rank-more img {
	width: 8rem;
	height: auto;
}

.wrp-sub-page {
	position: relative;
	background: url(../images/maincontent-m.png) repeat-y center top;
	background-size: 100% auto;
	margin-top: 20rem;
	margin-bottom: 4rem;
	padding: 0 12rem 4rem;
	color: #fff;
}

.wrp-sub-page::before {
	content: "";
	background: url(../images/maincontent-t.png) no-repeat center top;
	left: 0;
	top: -18rem;
	position: absolute;
	width: 100%;
	height: 18rem;
	background-size: 100% auto;
}

.wrp-sub-page::after {
	content: "";
	background: url(../images/maincontent-b.png) no-repeat center bottom;
	left: 0;
	bottom: -2rem;
	position: absolute;
	width: 100%;
	height: 4rem;
	background-size: 100% auto;
}

.tbl {}

.tbl thead th {
	text-align: center;
}

.tbl th {
	background: #242831;
}

.tbl td,
.tbl th {
	border: 1px solid #363231;
	padding: 4px 10px;
}

.tbl.-color tbody {
	color: #333;
}

.tbl.-color tbody tr:nth-child(even) {
	background-color: #E0E6F8;
}

.tbl.-color tbody tr:nth-child(odd) {
	background-color: #FBF8EF;
}

.pagination .current {
	display: flex;
	border-radius: 50%;
	background: #fff;
	width: 1.5em;
	height: 1.5em;
	color: #f00818;
	align-items: center;
	justify-content: center;
}

.box-news {
	margin-top: 3rem;
	position: relative;
	height: 30rem;
	margin-right: 0.3rem;
}

.btn-news-more {
	display: block;
	position: absolute;
	right: -1rem;
	bottom: -3rem;
}

.btn-news-more img {
	width: 8rem;
	height: auto;
}

.tab-content {
	display: none;
	height: 25rem;
	overflow-y: auto;
}

.tab-content.-active {
	display: block;
}

.box-tab02,
.box-tab {
	display: flex;
	background: #242831;
}

.box-tab02 a,
.box-tab a {
	padding: 0.5rem 2rem;
	color: #626d78;
	display: block;
}

.box-tab02 a {
	font-size: 1.6rem;
	color: #fff;
}

.box-tab02 a.-active,
.box-tab a.-active {
	color: #dab979;
}

.lst-news {
	margin-top: 0;
}

.lst-news li {
	border-top: 1px solid #363231;
	display: flex;
	justify-content: space-between;
	padding: 0.8rem 2rem;
	align-items: center;
}

.lst-news li a {
	display: block;
	overflow: hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
}

.box-news .date {
	color: #ccc;
}

.hdg-01 {
	padding: 1rem;
	background: #242831;
	border-left: 4px solid #dab979;
	font-size: 2rem;
	margin-bottom: 3.2rem;
}

.l-footer__wrapper {
	display: flex;
	justify-content: space-between;
}

.lst-link {
	display: flex;
	justify-self: center;
}

.lst-link li a {
	padding: 1rem 2rem;
	display: block;
}

.lst-link li {
	position: relative;
}

.lst-link li+li::before {
	content: "";
	position: absolute;
	width: 100%;
	left: 0;
	top: 50%;
	height: 2rem;
	width: 1px;
	opacity: 0.2;
	transform: translateY(-50%);
	background-image: linear-gradient(180deg, rgba(236, 237, 234, 0) 0%, rgb(220, 220, 220) 49%, rgb(220, 220, 220) 50%, rgba(220, 219, 216, 0) 100%);
}


.lst-link li a img {
	margin-right: 1rem;
	width: 2rem;
}

.lst-icon {
	display: flex;
	gap: 2rem;
	justify-content: center;
}

.box-shop li {
	display: flex;
	padding: 0.8rem 1rem;
}

.box-shop li .img {
	margin-right: 1rem;
}

.box-shop li .name {
	display: block;
	font-size: 12px;
	color: #bfa36d;
	white-space: nowrap;
	text-overflow: ellipsis;
	width: 12em;
	line-height: 1;
	overflow: hidden;
}

.box-shop li .price {
	font-size: 12px;
	display: flex;
	align-items: center;
	color: #aaa;
}

.box-shop li .price img {
	margin-right: 0.4rem;
}

.box-shop li.more {
	font-size: 1.2rem;
	color: #d8c525;
}

.box-shop li.more a {
	font-size: 1.2rem;
	color: #d8c525;
}

.box-chanel {
	margin-top: 10rem;
}

.box-chanel li+li::before {
	content: "";
	position: absolute;
	width: 100%;
	left: 50%;
	top: 0;
	height: 1px;
	opacity: 0.5;
	background-image: linear-gradient(90deg, rgba(236, 237, 234, 0) 0%, rgb(220, 220, 220) 49%, rgb(220, 220, 220) 50%, rgba(220, 219, 216, 0) 100%);
	transform: translateX(-50%);
}

.box-chanel li {
	position: relative;
	padding: 1rem 0 1rem 5rem;
}

.box-chanel li p {
	display: flex;
	align-items: center;
	gap: 2rem;
}

.box-chanel li span {
	display: inline-block;
	width: 1.6rem;
	height: 1.6rem;
	border-radius: 50%;
	background: #959595;
}

.box-chanel li span.online {
	background-color: rgb(27, 246, 11);
	box-shadow: 0px 0px 11.83px 1.17px rgba(138, 254, 129, 0.49);
	animation: blur 1s infinite ease-in-out alternate;
}

@keyframes blur {
	0% {
		opacity: 0.7;
		box-shadow: 0px 0px 3px 1.17px rgba(138, 254, 129, 0.49);
	}

	100% {
		opacity: 1;
		box-shadow: 0px 0px 11px 3px rgba(138, 254, 129, 0.49);
	}
}


.fixedParts {
	background-color: #fff;
	border-top: 1px solid #e0e0e0;
	border-bottom: 1px solid #e0e0e0;
	position: fixed;
	top: 0;
	right: 0;
	z-index: 20;
	width: 70px;
	height: 33px;
	display: flex;
	opacity: 1;
	transition: all 0.5s cubic-bezier(0.19, 1, 0.22, 1);
}

.fixedParts .soundBtn a {
	cursor: pointer;
	display: block;
	width: 70px;
	height: 33px;
	background: url(../images/ico_sound02_on.gif) no-repeat center;
}

.fixedParts .soundBtn {
	border-left: 1px solid #e0e0e0;
}

.fixedParts .soundBtn.off a {
	background: url(../images/ico_sound02_off.png) no-repeat center;
}

.fixedParts.pt-link-visible .pageTop {
	opacity: 1;
}

.fixedParts .pageTop {
	display: none;
}

.fixedParts .pageTop a {
	display: block;
	width: 33px;
	height: 33px;
	background: url(../images/ico_up01.png) no-repeat center;
}

.falling-leaves {
	position: absolute;
	top: -20rem;
	bottom: 0;
	left: 50%;
	width: 100%;
	height: 120%;
	transform: translate(-50%, 0);
	overflow: hidden;
	z-index: -1;
}

.leaf-scene {
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	width: 100%;
	transform-style: preserve-3d;
}

.leaf-scene div {
	position: absolute;
	top: 0;
	left: 0;
	width: 15px;
	height: 15px;
	background: url(../images/red-lobed-fall-clipart-leaf.png) no-repeat;
	background-size: 100%;
	transform-style: preserve-3d;
	backface-visibility: visible;
	opacity: 0.5;
}